<!DOCTYPE html>
<html lang="en">
  <head>
  <title>KnowledgeMap</title>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>  
  </head>
  
  <body id="homePage">
	<header>
	</header>

	<nav></nav>

	<section>
		<div id="logo">	
	  	    <h1 id="logoText">KnowledgeMap</h1>
	  	</div>
	    
	    <div id="search">
	      <div id="searchField" class="input-group input-group-lg">
	  		<%= form_tag("/parsetest", method: "get") do %>
              <%= label_tag(:searchTerm, "Search for:") %>
              <%= text_field_tag(:searchTerm) %>
              <%= submit_tag("Search") %>
            <% end %>
	      </span>                                      
		  </div>                                       
	    </div>                                         
  	</section>                                         
                                                       
  	<footer>       
  	<!-- 	<ul>
  			<li>@knowlegemap</li>
  		</ul>   -->                      
  	</footer>                                          
  </body>                                              
</html>                                                