<!DOCTYPE html>
<html lang="en">
  <head>
  <title>KnowledgeMap</title>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>  
  <link href='bootstrap_and_customization.css.scss' rel='stylesheet' type='text/css'>
  </head>
  
  <body id="homePage">
	<header></header>

	<nav></nav>

	<section>
		<div id="logo">	
	  	    <h1 id="logoMark">KnowledgeMap</h1>
	  	</div>
	    
	    <div id="searchBar">
	      <div id="searchField" class="input-group input-group-lg">
	  		<input type="text" class="form-control" placeHolder="Search">
	  		<span class="input-group-btn">             
	        <button id="searchButton" class="btn btn-default" type="button">Go!</button>
	      </span>                                      
		  </div>                                       
	    </div>                                         
  	</section>                                         
                                                       
  	<footer>                                           
  	</footer>                                          
  </body>                                              
</html>                                                