<h1>Pages#search</h1>
<p>Find me in app/views/pages/search.html.erb</p>


<table>
  <tr>
    <th>Node</th>
  </tr>
 
<% @nodes.each do |node| %>
  <tr>
    <td><%= nodes.node %></td>
  </tr>
<% end %>


</table>